<% if (status === 'success') { %>
  <p class="form-success">Message sent successfully!</p>
<% } else if (status === 'error') { %>
  <p class="form-error">There was an error sending your message.</p>
<% } %>
