.site-footer {
  background-color: black;
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
  border-top: 1px solid #eee;
  
}

.footer-content h3 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 1rem;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 1.5rem;
  font-size: 1rem;
  color: #555;
}

.contact-list li {
  margin-bottom: 0.5rem;
}

.contact-list a {
  color: #0072b1; /* LinkedIn blue */
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 0.9rem;
  color: #aaa;
}
.contact-name{
    color: #eee;
}
